.navigation_list {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    align-content: center;
    justify-content: space-around;
    width: 45rem;
}

.navigation_list li a {

    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1.5px;
}

.navigation_item {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
    font-size: 20px;
}

.navigation_item:hover {
    color: rgb(1, 97, 239);
    transition: 0.5s;
}

.header_row {
    display: flex;
    padding: 2rem;
    justify-content: center;
}

.header_row div {
    display: flex;
    padding: 40px;
    padding-left: 5rem;
}

.header_column {
    flex-grow: 0;
    justify-content: center;
    align-items: center;
}

.header_title {
    font-size: 3rem;
    color: rgb(1, 97, 239);
}

.header_description {
    font-size: 2rem;
    line-height: 80px;
}

.header_description_primary {
    display: block;
}

.navigation {
    transition: all 0.3s ease-in-out;
}

.sticky {
    background-color: #131530;
    box-shadow: 0 1px 5px rgb(1, 97, 239, 0.425);
    border-bottom: 0.4rem solid rgb(1, 97, 239);
    position: fixed;
    z-index: 100;
}

