.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3 6 32);
}

.container_contact_form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    padding: 4rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
    margin: 10rem;

}



.contact_form {
    display: block;
    align-items: center;
}


.label_form_container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.label_form {
    display: block;
    color: black;
    text-align: left;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.input_form {
    color: #666;
    padding: 1.5rem;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

.input_form textarea {
    min-height: 150px;
}

.input_form:focus {
    outline-color: rgb(1, 97, 239);
}


.submit_btn {
    background-color: rgb(1, 97, 239);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 1rem 2rem;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: auto 1rem 1rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.submit_btn:hover {
    transform: translateY(-2px);
    transition: all 0.4s ease;
    background-color: rgb(0, 83, 208);
}