.heading {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
    text-align: center;
}

.heading::after {
    content: "";
    display: block;
    margin: 0 auto 0 auto;
    align-content: center;
    width: 8rem;
    height: 0.2rem;
    background-color: white;
    margin: 0 auto 0 auto;
}