.about h1,
.about h2,
.about h3,
.about h4,
.about p {
  color: #000;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0rem 20rem 10rem 20rem;
  padding: 6rem 0;

}

.heading {
  margin-bottom: 5rem;
  justify-content: center;
  text-align: center;
}

.heading h1::after {
  background-color: black;
}

.sub_title_about_me {
  color: '#000';
  margin: 0.5rem 0;
  font-size: 25;
}

.container_about {
  flex: 1;
  white-space: 1px;
}

.container_about p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  justify-content: center;
}

.about_image {
  flex: 0;
  --s: 350px;
  /* image size */
  --b: 6px;
  /* border thickness */
  --c: rgb(1, 97, 239);
  /* border color */
  --cb: #e9ecef;
  /* background color */
  --f: 1;
  /* initial scale */

  width: var(--s);
  aspect-ratio: 1;
  padding-top: calc(var(--s)/5);
  cursor: pointer;
  border-radius: 0 0 999px 999px;
  --_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
  --_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));
  outline: var(--b) solid var(--c);
  outline-offset: var(--_o);
  background:
    radial-gradient(circle closest-side,
      var(--cb) calc(99% - var(--b)), var(--c) calc(100% - var(--b)) 99%, #0000) var(--_g);
  mask:
    linear-gradient(#000 0 0) no-repeat 50% calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 50%,
    radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
  transform: scale(var(--f));
  transition: .5s;
  margin-right: 5rem;
}

img:hover {
  --f: 1.1;
  /* hover scale */
}

.about svg {
  width: 3rem;
  height: 3rem;
  transition: all 0.4s ease;
  backface-visibility: hidden;
  fill: #000;
}

.about a {
  margin: 1rem;
}

.container_items {
  display: flex;
  justify-content: space-around;
  width: 15rem;
  padding-top: 1rem
}

.container_row {
  display: flex;
  padding: 2px;
}

.container_item_box a:hover svg {
  transition: all 0.4s ease;
  transform: translateY(-6px);
  fill: rgb(1, 97, 239);
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  .container_row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    margin-left: 5rem;
    margin-right: 5rem; 
  }

  .about_image {
    margin: auto auto;
    padding-bottom: 2rem;
  }

}