.skills {
  display: flex;
  flex-direction: column;
  background-color: rgb(3 6 32);
  padding: 5rem 0 0 0;
}

.title {
  align-content: top;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.container_cards {
  display: flex;
  justify-self: space-around;
  padding: 5rem 5rem 0 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 1rem 2rem 1rem 2rem;
  background-color: #fff;
  padding: 10px;
  
  
}

.card p {
  color: black;
}

.card_top {
  /* 3BDB85 */
  background-color: rgb(1, 97, 239);
}


.container_logo_list {
  display: grid;
  row-gap: 1rem;
  padding-top: 1rem;
}


.container_img :hover {
  transform: scale(1.5);
}

.container_img_with_tooltip {
  display: inline-block;
  justify-self: center;
  position: relative;
}


.logo_img {
  height: 3rem;
  width: auto;
  transition: all .6s;
}


.container_img_with_tooltip .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font: 15px 'Raleway', sans-serif;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.container_img_with_tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.container_img_with_tooltip:hover .tooltip_text {
  visibility: visible;
}

@media (max-width: 75em) {
  .container_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 1rem 0 1rem 0;
    max-width: 50rem;
    width: 100%;
  }

  .container_logo_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .container_img_with_tooltip {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}