.projects h1,
.projects h2,
.projects p {
    color: black;
}


.projects {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.heading::after{
    background-color: black;
}

.container_projects {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_img {
    display: flex;
    flex: 1;
    margin-right: 2.8rem;
}

.image {
    transform: scale(1.0);
    transition: all 0.4s ease;
}

.image:hover {
    transform: scale(1.2);
    transition: all 0.4s ease;
    z-index: 1;
}

.container_img img {
    z-index: -1;
    margin-bottom: 0;
    margin-right: 0.5rem;

}

.project_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 20rem;
}

.title_project {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.description_project {
    font-size: 1rem;
    color: #666;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.container_texts {

    display: flex;
    flex: 1;
    align-self: center;
    flex-direction: column;
    margin-top: 0;
    border-radius: 2rem;
    z-index: 1;
}

.btn {
    background-color: rgb(1, 97, 239);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto auto 1rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    transform: translateY(-2px);
    transition: all 0.4s ease;
    background-color: rgb(0, 83, 208);
}